<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello NewsSite</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>

    <body class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">NiceNewsSite</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/news}">Add News</a></li>
                    <li><a th:href="@{/authors}">Add a new author</a></li>
                    <li><a th:href="@{/categories}">Add a new category</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >Categories
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:each="category : ${categories}">
                                <a th:href="@{/category/{categoryId}(categoryId=${category.id})}">
                                    <span th:text="${category.name}">name</span>
                                </a>
                            </li>

                        </ul>
                    </li> 

                </ul>
                <ul th:if="${account!=null}" class="nav navbar-nav navbar-right">
                    <li th:if="${account!=null}">
                        <form th:action="@{/logout}" method="POST">
                            <input type="submit" value="Logout"/>
                        </form>

                    </li>
                </ul>
            </div>
        </nav>

  <!--          <h1>Hello NewsSite!</h1>

    <h2>Some links (unnecessary)</h2>

        <a th:href="@{/news}">Add a new piece of news</a><br/>
        <a th:href="@{/authors}">Add a new author</a><br/>
        <a th:href="@{/categories}">Add a new category</a><br/>
-->
        <h1>Latest news</h1>

        <ul>
            <li th:each="newsItem : ${selectednews}">
                <a th:href="@{/newsItem/{newsItemId}(newsItemId=${newsItem.id})}" >
                    <span th:text="${newsItem.title + ' ' + newsItem.newsDate}">title and date</span><br/>
                    <span th:text="${newsItem.ingress}">title and date</span><br/>
                    <img th:src="@{/newsItem/{newsItemId}/content(newsItemId = ${newsItem.id})}"/><br/> 
                </a> 

            </li>
        </ul>

        <h2>Older news</h2>
        <ul>
            <li th:each="newsItem : ${oldernews}">
                <a th:href="@{/newsItem/{newsItemId}(newsItemId=${newsItem.id})}" >
                    <span th:text="${newsItem.title + ' ' + newsItem.newsDate}">title and date</span>
                </a> 

            </li>
        </ul>

    </body>
</html>
