<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello NewsSite</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="container">
        <h1>Hello NewsSite!</h1>

        <h2>Some news</h2>

        <a th:href="@{/news}">Add a new piece of news</a><br/>
        <a th:href="@{/authors}">Add a new author</a><br/>
        <a th:href="@{/categories}">Add a new category</a><br/>

        <h2>Current news</h2>
        
         <ul>
            <li th:each="newsItem : ${selectednews}">
                <a th:href="@{/newsItem/{newsItemId}(newsItemId=${newsItem.id})}" >
                    <span th:text="${newsItem.title + ' ' + newsItem.newsDate}">title and date</span>
                    <span th:text="${newsItem.ingress}">title and date</span>
                </a> 

            </li>
        </ul>

        <ul>
            <li th:each="newsItem : ${oldernews}">
                <a th:href="@{/newsItem/{newsItemId}(newsItemId=${newsItem.id})}" >
                    <span th:text="${newsItem.title + ' ' + newsItem.newsDate}">title and date</span>
                </a> 

            </li>
        </ul>

    </body>
</html>
