<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add News</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>
    <body class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">NiceNewsSite</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/news}">Add News</a></li>
                    <li><a th:href="@{/authors}">Add a new author</a></li>
                    <li><a th:href="@{/categories}">Add a new category</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >Categories
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:each="category : ${categories}">
                                <a th:href="@{/category/{categoryId}(categoryId=${category.id})}">
                                    <span th:text="${category.name}">name</span>
                                </a>
                            </li>

                        </ul>
                    </li> 
                </ul>
            </div>
        </nav>

        <div>
            <h3>Add a new piece of news</h3>
            <form action="/news" th:method="POST" enctype = "multipart/form-data" >
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title"/>
                </div>
                <div class="form-group">
                    <label for="ingress">Ingress</label>
                    <textarea name="ingress" id="ingress" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="newsText">Text</label>
                    <textarea name="newsText" id="newsText" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="categories">Categories (Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.)</label>
                    <select name="categories[]" th:multiple = "true" th:path="news" class="form-control">
                        <option th:each="category : ${categories}" 
                                th:value="${category.name}" 
                                th:text="${category.name}">Categories</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="authors">Authors (Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.)</label>
                    <select name="authors[]" th:multiple = "true" th:path="news" class="form-control">
                        <option th:each="author : ${authors}" 
                                th:value="${author.name}" 
                                th:text="${author.name}">Authors</option>
                    </select>
                </div>
      <!--          <div class="form-group">
                    <label for="picture">Add picture</label>
                    <input type="file" class="form-control" name="file" id="file"/>
                </div>
      -->
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </body> 

</html>



